html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  padding: 0px;
  margin: 0px;
  word-break: break-word;
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
  background-attachment: fixed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

code {
  font-family: 'Noto Sans JP', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Noto Sans JP', sans-serif;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
img {
  max-width: 100%;
}
